<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <!-- Add appenders that log4net can use -->
    <!-- Console is set to be a ConsoleAppender -->
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <!-- Console uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/> 
      </filter>
    </appender>
    <!-- Scribe -->
    <appender name="Scribe" type="log4net.Appender.ScribeAppender, ScribeAppender">   
      <remoteHost value="Nealinux"/>
      <remotePort value="65510"/>
      <category value="Logger"/>
      <!-- Scribe uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to Console -->
    <root>
      <level value="DEBUG"/>
      <!-- <appender-ref ref="RollingLogFileAppender"/> -->
      <!-- <appender-ref ref="Console"/> -->
    </root>
    <!-- Add loggers that will be used by your application -->
    <!--<logger name="ScribeAppender.Test" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="Console"/>
    </logger>-->
    <logger name="ScribeAppender.Test.Program">
      <level value="DEBUG"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="Scribe"/>
    </logger>
  </log4net>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
